{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'asset/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'asset/js/popper.min.js' %}"></script>
    <script src="{% static 'asset/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'asset/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/164c1f6f62.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'asset/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'asset/css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container text-center border-bottom rounded-bottom sticky-top" style="background-color: ivory;">
        <h1>Student Managment System</h1>
    </div>
    <nav class="container navbar border-left border-right navbar-expand-lg navbar-light sticky-top" style="background-color: mintcream;">
        <a class="navbar-brand" href="/myapp">AIMS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/myapp">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/student">Student</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/course">Course</a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Course
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li> -->
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container border border-danger rounded">
        <marquee class="font-weight-bold" style="color: tomato;">CRUD Operation Project For Student Managment System.</marquee>
    </div>
    {% block body %}{% endblock %}
    <footer class="jumbotron jumbotron-fluid align-items-end text-center" style="background-color: honeydew;">
        All &copy;Copyright Reserved By Aasif Khan
    </footer>
</body>
</html>
<script>
    // $('.yearselect').yearselect();
    // $('.yearselect').yearselect({
    //     start: 2000,
    //     end: 2050
    // });
    // $('.yearselect').yearselect({
    //     step:5
    // });
    // $('.yearselect').yearselect({
    //     order: 'ascdesc' // or asc
    // });
    // $('.yearselect').yearselect({
    //     selected: 2020
    // });
</script>