{% extends 'base.html' %}
{% load static %}
{% block title %}Student Database{% endblock %}
{% block body %}
<div class="container">
<form class="mt-2 mx-2 bg-white" action="/update/{{ stud.id }}" method="post">
    {% csrf_token %}
    <div class="form-group row">
        <div class="col col-md-8">
            <input class="form-control form-control-sm" type="hidden" name="id" id="id" placeholder="Enter First Name." value="{{ stud.id }}">
        </div>
    </div>
    <div class="form-group row">
        <label for="first_name" class="col col-md-4 col-form-label">First Name</label>
        <div class="col col-md-8">
            <input type="text" name="first_name" class="form-control form-control-sm" placeholder="Enter First Name." required id="id_first_name" value="{{stud.first_name}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="last_name" class="col col-md-4 col-form-label">Last Name</label>
        <div class="col col-md-8">
            <input type="text" name="last_name" class="form-control form-control-sm" placeholder="Enter Last Name." required id="id_last_name" value="{{stud.last_name}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="contact" class="col col-md-4 col-form-label">Contact</label>
        <div class="col col-md-8">
            <input type="text" name="contact" class="form-control form-control-sm" placeholder="Enter Contact No." required id="id_contact" value="{{stud.contact}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="email" class="col col-md-4 col-form-lable">Email</label>
        <div class="col col-md-8">
            <input type="email" name="email" class="form-control form-control-sm" placeholder="Enter Email Address." required id="id_email" value="{{stud.email}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="course" class="col col-md-4 col-form-lable">Course</label>
        <div class="col col-md-8">
            <input type="text" name="course" class="form-control form-control-sm" placeholder="Enter Course Name." required id="id_course" value="{{stud.course}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="fees" class="col col-md-4 col-form-label">Fees</label>
        <div class="col col-md-8">
            <input type="number" name="fees" class="form-control form-control-sm" placeholder="Enter Fees *INR." step="any" required id="id_fees" value="{{stud.fees}}">
        </div>
    </div>
    <div class="text-center col col-md-auto" id="button">
        <input class="btn btn-success my-2 mx-2 rounded-sm" type="submit" value="Update">
        <a href="/student/"><button class="btn btn-danger my-2 mx-1 rounded-sm" value="Cancel">Cancel</button></a>
</form>
</div>
{% endblock %}